body{
  margin: 0;
  border: 8px solid black;
  display: grid;
  grid-template-columns: [c1] auto [c2] 50rem [c3] auto [end];
  grid-template-rows: [r1] 2rem [r2] min-content [r3] 4rem [r4] auto [r5] 4rem [end];
  background-color: rgb(255, 255, 125);
  min-height: calc(100vh - 16px);
}
#in{
  grid-column-start: c2;
  grid-column-end: c3;
  grid-row-start: r2;
  grid-row-end: r3;
  border: 5px solid #333333;
  padding: 1rem 1rem 0 1rem;
  background-color: #999999;
}
.prompt{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: #DDDDDD;
  border: 2px solid #333333 ;
}
button{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-bottom: 1rem;
  margin-left: calc(50% - 37px);
}
.txt{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 1rem;
  font-size: 18px;
}
#php{
  font-family: monospace;
  font-size: 18px;
  grid-column-start: c2;
  grid-column-end: c3;
  grid-row-start: r4;
  grid-row-end: r5;
  background-color: white;
  border: 5px solid #333333;
  overflow: scroll;
  min-height: 5rem;
  padding: 1rem;
}